@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Manrope:wght@700&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:wght@600;700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Mulish", sans-serif, "Inter", sans-serif;
    margin: 0;
    padding: 0;
}
/* Header Area */
header{
    max-width: 1200px;
    margin: 0 auto;
}
.primary-btn{
    background: #FF5400;
    border-radius: 8px;
    padding: 10px;
    border: none;
}

.navbar{
    
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;

}
.logo{
    display: flex;
    gap: 10px;
    align-items: center;
}
.main-menu{
}
.main-menu>ul{
    display: flex;
    gap: 10px;
}
.main-menu>ul li{
    list-style: none;
}
.main-menu>ul li a{
    text-decoration: none;
    color:#424247;
    text-align: center;
    font-family: Mulish;
    font-size: 1.13rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
   
}
.banner{
    position: relative;
}
.banner-maincontent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner-title{
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-weight: 800;
}
.banner-content{
    color: #FFF;
    text-align: center;
    width: 700px;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
.banner-menu{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    max-width: 900px;
    margin: 0 auto;
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
}
.wherego{
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding: 16px 50px 16px 16px;
    border: none;
    border-radius: 8px;
    background: #FFF;
    width: 174px;

}
.when{
    display: flex;
    justify-content: space-between;
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding: 16px;
    border: none;
    border-radius: 8px;
    background: #FFF;
    width: 174px;
}
.select-type{
    display: flex;
    justify-content: space-between;
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding: 16px;
    border: none;
    border-radius: 8px;
    background: #FFF;
    width: 174px;
}
.find-now{
    display: flex;
    justify-content: space-between;
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding: 16px;
    border: none;
    border-radius: 8px;
    background: #FFF;
    width: 174px;
}
/* End Header Area */
/* start Main section */
main{
    max-width: 1200px;
    margin: 0 auto;
}
.tour-section{
    display: flex;
    justify-content: space-between;
    gap: 20px;

}
.tour-content{
    width: 50%;
    padding: 10px;
}
.tour-banner{
    width: 50%;
}
.tour-banner img{
    width: 100%;
    height: 80%;
}
.tour-paragraph{
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin-top: 20px;
}
/* End Main Section */
/* Media Query */
@media screen and(max-width:576px) {
    .navbar{
        flex-direction: column;
    }
    .banner{
        width: 50%;
    }
}