@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Manrope:wght@700&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:wght@600;700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Mulish", sans-serif, "Inter", sans-serif;
    margin: 0;
    padding: 0;
}
/* Header Area */
.primary-btn{
    background: #FF5400;
    border-radius: 8px;
    width: 174px;
}
header{
    max-width: 1200px;
    margin: 0 auto;
}
.navbar{
    
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;

}
.logo{
    display: flex;
    gap: 10px;
    align-items: center;
}
.main-menu{
}
.main-menu>ul{
    display: flex;
    gap: 10px;
}
.main-menu>ul li{
    list-style: none;
}
.main-menu>ul li a{
    text-decoration: none;
    color:#424247;
    text-align: center;
    font-family: Mulish;
    font-size: 1.13rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
   
}
.banner{
    background-image: url("/Images/Group\ 13\ \(1\)\ \(1\).png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
}
.banner-maincontent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    margin: 0 auto;
}
.banner-menu{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}
/* End Header Area */
.banner-title{
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-weight: 800;
}
/* Media Query */
@media screen and(max-width:576px) {
    .navbar{
        flex-direction: column;
    }
    .banner{
        width: 50%;
    }
}